@import 'src/styles.scss';

body, html {
  margin: 0;
  font-family: $font-edit;
  background-image: $background;
  background-size: cover;
  background-attachment: fixed;
}

.footer{
  @extend %headFooter;
}





