@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@import url('https://fonts.googleapis.com/css?family=Carter+One');


$background: url(../../assets/img/HeroesBackground.jpg); 

//fonts
$font: 'Nanum Gothic', sans-serif;  
$font-title: 'Black Han Sans', sans-serif;
$font-size: 14px;
$font-edit: 'Carter One', sans-serif;

//colors
$red_color: rgba(239, 28, 28, 0.719);
$title_color: rgb(239, 28, 28);
$body_color: rgb(104, 100, 100);
$transparent_white: rgba(255, 255, 255, 0.8);
$shadow_color: #6b6a6a;


$border-radius: 50%;

//Breakpoints
$break-small: 320px;
$break-large: 480px;

@mixin size($width, $height){
    width: $width;
    height: $height;
}

//Compatibility prefixes
//-moz-box-shadow: arguments
$prefixes: "webkit", "moz", "ms", "o", "none";
@mixin prefix($property, $arguments) {
 @each $prefix in $prefixes {
   @if $prefix == "none" {
     #{$property}: $arguments;
   } @else {
     -#{$prefix}-#{$property}: $arguments;
   } 
 }
}

%principal-container{
  display: flex;
  flex-wrap:wrap;
  background-color: $transparent_white;
  border-radius: 1em;
  margin-top: 8%;
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 20px;
  padding-bottom: 30px;
  justify-content: space-around;
}