<div class="flex-container">
    <button class="return" (click)="goBack()"><i class="fa fa-home"></i> Regresar</button>
    <div class="content">    
        <form class="form">
            <h2>{{hero._nickname}}</h2>
            <img src={{hero.picture}}>
            <br>
            <br>
            <fieldset>
                <div>
                    <label for="name">Nombre Completo:</label>
                    <br>
                    <input [(ngModel)]="hero.name" type="text" name="name" required/>
                    <br>
                    <br>
                </div>
                <div>
                    <label for="nickname">Alias:</label>
                    <br>
                    <input [(ngModel)]="hero.nickname" type="text" name="nickname" required disabled/>
                    <br>
                    <br>
                </div>
                <div>
                    <label for="height">Estatura: (en ft)</label>
                    <br>
                    <input [(ngModel)]="hero.height" name="height" required/>
                    <br>
                    <br>
                </div>
                <div>
                    <label for="picture"> Link Imagen de Perfil:</label>
                    <br>
                    <input [(ngModel)]="hero.picture" type="url" name="picture" required pattern="(http|https)://.+">
                    <br>
                    <br>
                </div>
                <button class="submit" (click)="updateHero()">Actualizar</button>
                <br>
            </fieldset>
        </form>
        <br>
    </div>
</div>