@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}

@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}


//----------------------------------------------------------------------



.hero_position {
  border-radius: 50%;
  height: 100%;
  position: relative;
  :hover{
    cursor: pointer;
  }
}
img{
  border-radius: 50%;
  height: 150px;
  display:flex;
   
}

.float{
  position: absolute;
  height: 70px;
  width: 70px;
 border-radius: 50%;
 background-color: rgba(255,0,0,0.5);
 right: -30px;
  top: -10px;

 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 18px;
 font-family: $roboto-slab;
 @include box-shadow(2px 2px 2px #6b6a6a);
}

b{
  color: rgba(255, 0, 0, 0.719);

}

.flex-container {
  margin-top: 6%;
  margin-inline-start: 2%;
  margin-inline-end: 2%;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  border-radius: 2em;
  -webkit-flex-flow: row wrap;
  flex-flow: row-wrap; }

.flex-item {
  background: rgb(255, 255, 255);
  padding: 5px;
  margin: 20px;
  border-radius: 0.5em;
  -webkit-flex-flow: row wrap;
  flex-flow: row-wrap;
  display: flex;
  @include box-shadow(4px 3px 5px #666);
  flex-basis:29%;
  .flex-item__other {
    font-family: "Roboto Slab", serif;
    margin-block-start: 10px;
    color:rgb(71, 68, 68);
    flex-basis: 50%;
    flex-flow: row-wrap;
    width: 50%;
    min-width: 50px;
    //background-color: blueviolet;
    display: flex;
    flex-direction: row;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    align-items: auto; ;
    }
  }
