@import 'src/styles.scss';

b{
  color: $title_color;
  font-size: 25px;
  font-weight: bolder;
}

p{
  color: $body_color;
  font-size: 15px;
}

.search{
  @extend %headFooter;
}

.flex-container{
  @extend %principal-container;
}

.container-item{
  display: flex;
  background-color: white;
  border-radius: 1em;
  margin: 10px;
  box-shadow: 1px 1px 3px $shadow_color;
  @media(min-width: $break-small){
    flex-basis: 100%;
    img{
      max-width:95px; 
    }
    .red_circle{
      @include size(50px, 50px);
      }
  }
  @media(min-width: $break-large){
    flex-basis: 27%;
    img{
      max-width:100px; 
    }
  }
  .sub-item {
  display: inline-flex;
  font-family: $font;
  font-size: $font-size;
  padding: 5px;
  margin-left: 25px;
  .hero_position {
    position: relative;
    :hover{
      cursor: pointer;
    }
  }
  } 
}

.red_circle{
  position: absolute;
  @include size(65px, 65px);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: $border-radius;
  background-color: $red_color;
  right: -23px;
  top: -10px;
  color: white;
  font-size: $font-size;
  font-family: $font;
  font-weight: bold;
  box-shadow: 2px 2px 2px $shadow_color;
}
 
img{
  border-radius: $border-radius;
}
 
  