@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Fonts
$font: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

$border-radius: 50%;

//colors
$red_color: rgba(255,0,0,0.5);
$white: white;
$transparent_white: rgba(255, 255, 255, 0.7);
$text_color: rgb(71, 68, 68);
$shadow_color: #6b6a6a;
//$color_purple_heart_approx: blueviolet;

@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}


.hero_position {
  border-radius: $border-radius;
  height: 100%;
  position: relative;
  display:flex;
  :hover{
    cursor: pointer;
  }
}

img{
  border-radius: $border-radius;
  height: 150px;
}

b{
  color: $red_color;
}

.red_circle{
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: $border-radius;
  background-color: $red_color;
  right: -30px;
  top: -10px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: $font;
  @include box-shadow(2px 2px 2px $shadow_color);
}

.flex-container {
  margin-top: 6%;
  margin-inline-start: 2%;
  margin-inline-end: 2%;
  background-color: $white;
  background-color: $transparent_white;
  display: flex;
  border-radius: 2em;
  -webkit-flex-flow: row wrap;
  flex-flow: row-wrap; 
}
.flex-item {
  background: rgb(255, 255, 255);
  padding: 5px;
  margin: 20px;
  border-radius: 0.5em;
  -webkit-flex-flow: row wrap;
  flex-flow: row-wrap;
  display: flex;
  flex-basis:29%;
  @include box-shadow(4px 3px 5px $shadow_color);
  min-width: 25%;

  .sub-item {
    font-family: $font;
    margin-block-start: 10px;
    color: $text_color;
    flex-basis: 50%;
    flex-flow: row-wrap;
    width: 50%;
    min-width: 50px;
    //background-color: blueviolet;
    display: flex;
    flex-direction: row;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    align-items: auto;  
    }
  
  }