<div class="flex-container">
    <div class="flex-item" *ngFor="let hero of heroes; let i=index" [ngSwitch]='i'>
        <div class="sub-item">
            <div class="hero_position">
                <img src="{{hero._picture}}" routerLink="/heroes/{{hero._nickname}}"> 
                <div class="red_circle" *ngSwitchCase='0'>{{i+1}}st</div>
                <div class="red_circle" *ngSwitchCase='1'>{{i+1}}nd</div>
                <div class="red_circle" *ngSwitchCase='2'>{{i+1}}rd</div>
                <div class="red_circle" *ngSwitchDefault>{{i+1}}th</div>
            </div>
        </div>
        <div class="sub-item">
                <p align="left">
                <b>{{hero._nickname}}</b>
                <br>
                {{hero._name}}
                <br>
                Estatura: {{heightConversion(hero._height)}} mt</p>
        </div>
    </div>
</div>